// logo
$logoDarkBg: #2b2f3a;
$logoLightBg: #f5f5f5;
$titleDarkColor: #fff;
$titleLightColor: #303133;

// sidebar
$sideBarWidth: 210px;
$sideBarHideWidth: 70px;

// sidebar dark
$menuText: #bfcbd9;
$menuActiveText: #fff;

$menuBg: #304156;
$menuHoverBg: #263445;
$menuActiveBg: #1b5cb6;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

// sidebar light
$menuLightText: #696969;
$menuLightActiveText: #409eff;

$menuLightBg: #fff;
$menuLightHoverBg: #f0f1f5;
$menuLightActiveBg: #e6f4ff;

$subMenuLightBg: #f9f9f9;
$subMenuLightHover: #f0f1f5;

:export {
  // logo
  logoDarkBg: $logoDarkBg;
  logoLightBg: $logoLightBg;
  titleDarkColor: $titleDarkColor;
  titleLightColor: $titleLightColor;

  // sidebar
  sideBarWidth: $sideBarWidth;
  sideBarHideWidth: $sideBarHideWidth;

  // sidebar dark
  menuText: $menuText;
  menuActiveText: $menuActiveText;

  menuBg: $menuBg;
  menuHoverBg: $menuHoverBg;
  menuActiveBg: $menuActiveBg;

  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;

  // sidebar light
  menuLightText: $menuLightText;
  menuLightActiveText: $menuLightActiveText;

  menuLightBg: $menuLightBg;
  menuLightHoverBg: $menuLightHoverBg;
  menuLightActiveBg: $menuLightActiveBg;

  subMenuLightBg: $subMenuLightBg;
  subMenuLightHover: $subMenuLightHover;
}
